* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* .d{
  align-items: center;

} */

/* .Login{ 
  align-items: center;
  margin-bottom: 10px;
  padding: 30px;
} */

h1{
 text-align: center;
    margin-top: 30px;
    padding: -30px;
    display: block;
    justify-content: center;
  
  
    
}

.btn btn-primary{
  padding: 20px;
  margin-right: 20px; 
  text-align: right;
  background-color: blueviolet;

}


.container,input,select {
  width: 300px;
  padding: 12px 20px;
  height: 50px;
  margin: 4px 0;
  display: inline-block;
  background:blanchedalmond;
  text-align:center;
  box-sizing: border-box;
  border-radius: 15px;
  background: white;
  /* padding: 20px; */
  width: 450px;
  height: 45px;
}
.footer{

  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background:green;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;


}

.footer{

  display:flex;
  align-items: center;

  margin: 60px auto;


}
.forgot{
  padding: 0; 
  border-radius: 5px;
}
.container{

    display: flex;
    flex-direction: column;
    margin: auto;
    
    width: 500px;
    height: 550px;
    background:navy;
    padding-bottom: 30px;
    margin-top: 50px;
}
.acc{
  color: white;
}
.btn{
  background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 2px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px
  
  


  


}
.image{
  padding: 0%;
  margin: 0%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: auto;
 flex-direction: right;


  
}
